/* BOTÃO */
.accessibility-trigger {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 9999;

  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;

  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(12px);

  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
}

.accessibility-trigger:hover {
  transform: scale(1.1);
}

/* PAINEL */
.accessibility-panel {
  position: fixed;
  bottom: 90px;
  right: 24px;
  z-index: 9999;

  width: 220px;
  padding: 16px;

  border-radius: 16px;

  background: rgba(255,255,255,0.85);
  backdrop-filter: blur(16px);

  box-shadow: 0 10px 40px rgba(0,0,0,0.15);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* BOTÕES */
.accessibility-panel button {
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* CONTRASTE */
.high-contrast {
  background: #000 !important;
  color: #fff !important;
}