@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

body {
    width: 100%;
    height: auto;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.logo_img {
    width: 350px;
    height: 200px;
    display: block;
    margin: 20px auto;
}

/* transformar .name-logo em responsivo */
.name-logo {
  font-family: "Monsieur La Doulaise", cursive;
  font-size: 2.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.menu {
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu li {
    list-style: none;
}

.nav-links {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
}

.nav-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.nav-links span {
    margin: 0 15px;
    font-size: 16px;
    color: #555;
}

.nav-links span:hover {
    color: #000;
    text-decoration: underline;
}

h1,
p {
    text-align: center;
    margin: 32px;
    font-weight: bold;
}

.conteudo-paragrafo {
    max-width: 800px;
    margin: 0 auto 32px auto;
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.mascote {
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.imagem_store_container {
    width: 100%;
    max-width: 1200px;
    margin: 32px auto;
    position: relative;
    overflow: hidden;
    height: auto;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 32px rgba(0, 0, 0, 0.1);
}



.nav_left {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
}

.nav_right {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
}

.imagem_store {
    display: flex;
    padding: 20px 0;
    gap: 20px;
    transition: transform 0.3s ease-in-out;
}

.imagem_store::-webkit-scrollbar {
    display: none;
}

.imagem_store img {
    flex-shrink: 0;
    width: 400px;
    margin: 0 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    width: 100%;
    height: px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(122, 150, 212);
    border-radius: 10px;
    padding: 20px 0;
    color: #fff;
}

.politcs {
    display: flex;
    width: 100%;
}

.content-politcs-footer {
    margin: 32px;
    width: 100%;
    height: auto;
}

.politcs-content {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 24px;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.politcs-content li a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    white-space: nowrap;
}

.politcs-content a:hover {
    color: #000;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
}

.tipografy {
    width: 17%;
}

#click-here {
    color: #333;
    cursor: pointer;
    text-decoration: underline;
}

.address {
    text-transform: uppercase;
    color: #000;
}

.img_footer {
    display: flex;
    width: 15%;
    height: 15%;
    margin-top: 50px;
}

.social-media {
    display: flex;
    gap: 2rem;
    padding: 20px;
    margin: 32px;
    justify-content: center;
    align-items: center;
}

.social-media img {
    cursor: pointer;
}

.social-media img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}