.footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.images {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.images img {
    height: 12em;

}

.social {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}