* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  color: #111;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* CONTRASTE ALTO */
.high-contrast {
  background: #000 !important;
  color: #fff !important;
}

.high-contrast a {
  color: #0ff !important;
}

/* REDUCED MOTION */
.reduced-motion * {
  animation: none !important;
  transition: none !important;
}