@import "./styles/reset.css";
@import "./styles/tokens.css";
@import "./styles/globals.css";

html, body {
  overflow-x: hidden;
}

*, *::before, *::after { 
  box-sizing: border-box;
  border: 0;
}

:root {
  --header-height: 160px;
}